
{% load static %}
{%get_static_prefix as RES %}

<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <title>Student Idea</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        
        <link href='{{RES}}http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{{RES}}css/bootstrap.css">
        <link rel="stylesheet" href="{{RES}}css/font-awesome.css">
        <link rel="stylesheet" href="{{RES}}css/templatemo_style.css">
        <link rel="stylesheet" href="{{RES}}css/templatemo_misc.css">
        <link rel="stylesheet" href="{{RES}}css/flexslider.css">
        <link rel="stylesheet" href="{{RES}}css/testimonails-slider.css">

        <script src="{{RES}}js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

            <header>
                <div id="top-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="home-account">
                                    <a href="/login_project">Login</a>
                                    <a href="/signup">Register</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cart-info">
                                    <i class="fa fa-shopping-cart"></i>
                                    <a href="#">  Limited Offer !! Grab Your Project at Rs.1000</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="main-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="logo">
                                    <a href="/"><img src="{{RES}}images/logo_new.png" title="Project Idea" alt="" ></a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="main-menu">
                                    <ul>
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/project">Project</a></li>
                                        <li><a href="/battijalao">Batti Jalao !!</a></li>
                                        <li><a href="/helpinghand">Helping Hand</a></li>
                                        <li><a href="contact-us.html">Expert Panel</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="search-box">  
                                    <form name="search_form" method="get" class="search_form">
                                        <input id="search" type="text" />
                                        <input type="submit" id="search-button" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            

            <div id="slider">
                <div class="flexslider">
                  <ul class="slides">
                    <li>
                        <div class="slider-caption">
                            <h1>Your Idea Our Funding !!</h1>
                            <p>Most of the projects is not completed just because of short of funds or inappropriate fundings
                            <br><br>we are here to fund your project and assist you to startup</p>
                            <a href="/helpinghand">Click Here</a>
                        </div>
                      <img src="{{RES}}images/1.jpg" alt="" />
                    </li>
                    <li>
                        <div class="slider-caption">
                            <h1>Projects</h1>
                             <p>“I feel like every project I work on is a dream project, so long as I am learning.”― Simeon Kondev 
                            </p>
                            <a href="/project">More Details</a>
                        </div>
                      <img src="{{RES}}images/slide2.jpg" alt="" />
                    </li>
                    <li>
                        <div class="slider-caption">
                            <h1>Batti Jaalao !!</h1>
                           <p>"If at first, the idea is not absurd, then there is no hope for it." - Albert Einstein 
                            </p>
                           <a href="/battijalao">Get Ready</a>
                        </div>
                      <img src="{{RES}}images/slide3.jpg" alt="" />
                    </li>
                  </ul>
                </div>
            </div>

    <div id="our-team">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-section">
                                <h2>Project Categories</h2>
                                <img src="{{RES}}images/un.png" alt="" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="authors1">
                            <div class="col-md-4 col-sm-6">
                                <div class="team-thumb1">
                                    <div class="author1">
                                        <img src="{{RES}}images/bc.png" alt="Tracy - templatemo">
                                    </div>
                                    <div class="overlay1">
                                        <div class="author-caption1">
                                            <ul>
                                                <li><a href="/"><i class="fa fa-code"></i> Click Here</a></li>
                
                                         </div>
                                     </div>
                                 </div>
                                 <div class="author-details1">
                                     <h2>BCA</h2>
                                     <span>Projects<br></span>
                                 </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="team-thumb1">
                                    <div class="author1">
                                        <img src="{{RES}}images/mc.jpg" alt="">
                                    </div>
                                    <div class="overlay1">
                                        <div class="author-caption1">
                                            <ul>
                                                <li><a href="/project_mca"><i class="fa fa-code"></i> Click Here</a></li>
                
                                         </div>
                                     </div>
                                 </div>
                                 <div class="author-details1">
                                     <h2>MCA</h2>
                                     <span>Projects<br></span>
                                 </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="team-thumb1">
                                    <div class="author1">
                                        <img src="{{RES}}images/bt.jpg" alt="">
                                    </div>
                                    <div class="overlay1">
                                        <div class="author-caption1">
                                            <ul>
                                                <li><a href="/project_btech"><i class="fa fa-code"></i> Click Here</a></li>
                
                                         </div>
                                     </div>
                                 </div>
                                 <div class="author-details1">
                                     <h2>B.Tech</h2>
                                     <span>CSE<br>Projects</span>
                                 </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="team-thumb1">
                                    <div class="author1">
                                        <img src="{{RES}}images/mt.jpg" alt="Tracy - templatemo">
                                    </div>
                                    <div class="overlay1">
                                        <div class="author-caption1">
                                            <ul>
                                                <li><a href="project_btech"><i class="fa fa-code"></i> Click Here</a></li>
                
                                         </div>
                                     </div>
                                 </div>
                                 <div class="author-details1">
                                     <h2>M.Tech</h2>
                                     <span>CSE<br>Projects</span>
                                 </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="team-thumb1">
                                    <div class="author1">
                                        <img src="{{RES}}images/rd.jpg" alt="">
                                    </div>
                                    <div class="overlay1">
                                        <div class="author-caption1">
                                            <ul>
                                                <li><a href="/project_res"><i class="fa fa-code"></i> Click Here</a></li>
                
                                         </div>
                                     </div>
                                 </div>
                                 <div class="author-details1">
                                     <h2>Resarch and Innovation</h2>
                                     <span>Projects<br></span>
                                 </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="team-thumb1">
                                    <div class="author1">
                                        <img src="{{RES}}images/bs.jpg" alt="">
                                    </div>
                                    <div class="overlay1">
                                        <div class="author-caption1">
                                            <ul>
                                                <li><a href="/project_bsc"><i class="fa fa-code"></i> Click Here</a></li>
                
                                         </div>
                                     </div>
                                 </div>
                                 <div class="author-details1">
                                     <h2>B.Sc(Hns)</h2>
                                     <span>Computer Scienec<br>Projects</span>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>

 
 
 
 
 
 


   <!--
           
            <div id="latest-blog">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-section">
                                <h2>Project Categories</h2>
                                <img src="images/un.png" alt="" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="images/bc.png" alt="" />
                                </div>
                                <div class="blog-content">
                                    <div class="content-show">
                                        <h4><a href="single-post.html">Java Projects</a></h4>
                                    
                                    </div>
                                    <div class="content-hide">
                                        <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="images/mc.jpg" alt="" />
                                </div>
                                <div class="blog-content">
                                    <div class="content-show">
                                        <h4><a href="single-post.html">Matlab</a></h4>
                                        
                                    </div>
                                    <div class="content-hide">
                                        <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="images/bt.jpg" alt="" />
                                </div>
                                <div class="blog-content">
                                    <div class="content-show">
                                        <h4><a href="single-post.html">Bayesian Networks</a></h4>
                                        
                                    </div>
                                    <div class="content-hide">
                                        <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="images/mt.jpg" alt="" />
                                </div>
                                <div class="blog-content">
                                    <div class="content-show">
                                        <h4><a href="single-post.html">Embedded Systems</a></h4>
                                        
                                    </div>
                                    <div class="content-hide">
                                        <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="images/rd.jpg" alt="" />
                                </div>
                                <div class="blog-content">
                                    <div class="content-show">
                                        <h4><a href="single-post.html">Augumented Reality</a></h4>
                                        
                                    </div>
                                    <div class="content-hide">
                                        <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="images/bs.jpg" alt="" />
                                </div>
                                <div class="blog-content">
                                    <div class="content-show">
                                        <h4><a href="single-post.html">Quantum Computing</a></h4>
                                        
                                    </div>
                                    <div class="content-hide">
                                        <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    !-->



			<footer>
                <div class="container">
                    <div class="top-footer">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="subscribe-form">
                                    <span>Get in touch with us</span>
                                    <form method="get" class="subscribeForm">
                                        <input id="subscribe" type="text" />
                                        <input type="submit" id="submitButton" />
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="social-bottom">
                                    <span>Follow us:</span>
                                    <ul>
                                        <li><a href="#" class="fa fa-facebook"></a></li>
                                        <li><a href="#" class="fa fa-twitter"></a></li>
                                        <li><a href="#" class="fa fa-rss"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-footer">
                        <div class="row">
                             <div class="col-md-3">
                                <div class="about">
                                    <h4 class="footer-title">About Student Idea</h4>
                                    <p><span class="blue">Student</span><span class="green"> Idea</span> is a concept in which we helps student to complete their projects and also helps young minds who wants to start their venture.
                                    <br><br>Student Idea is starts by <span class ="blue">Anurag Sharma</span> and<span class="green"> Rishika Kalsi </span>Now she is Vice President of Student Idea.</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="shop-list">
                                    <h4 class="footer-title">Project Categories</h4>
                                    <ul>
                                         <li><a href="project_detail.html"><i class="fa fa-angle-right"></i>BCA Projects</a></li>
                                        <li><a href="project_mca.html"><i class="fa fa-angle-right"></i>MCA Projects</a></li>
                                        <li><a href="project_btech.html"><i class="fa fa-angle-right"></i>B.Tech Projects</a></li>
                                        <li><a href="project_res.html"><i class="fa fa-angle-right"></i>Research Projects</a></li>
                                        <li><a href="project_mtech.html"><i class="fa fa-angle-right"></i>M.Tech Projects</a></li>
                                        <li><a href="project_bsc.html"><i class="fa fa-angle-right"></i>B.Sc(Comp. Sci.) Projects</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="recent-posts">
                                    <h4 class="footer-title">Recent Posts</h4>
                                    <div class="recent-post">
                                        <div class="recent-post-thumb">
                                            <img src="{{RES}}images/Matlab_Logo_recent.png" alt="">
                                        </div>
                                        <div class="recent-post-info">
                                            <h6><a href="#{{RES}}">Matlab</a></h6>
                                            <span>24/12/2084</span>
                                        </div>
                                    </div>
                                    <div class="recent-post">
                                        <div class="recent-post-thumb">
                                            <img src="images/qu_recent.jpg" alt="">
                                        </div>
                                        <div class="recent-post-info">
                                            <h6><a href="#{{RES}}">Quantum Computing</a></h6>
                                            <span>18/12/2084</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="more-info">
                                    <h4 class="footer-title">More info</h4>
                                    <p>For further information Call us or Drop an email .</p>
                                    <ul>
                                        <li><i class="fa fa-phone"></i>091-111-000-454</li>
                                        <li><i class="fa fa-globe"></i>123, Gurgaon, Haryana</li>
                                        <li><i class="fa fa-envelope"></i><a href="#{{RES}}">info@projectidea.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-footer">
                        <p>Copyright © 2015 <a href="#">Project Idea</a></p>
                    </div>
                    
                </div>
            </footer>

    
        <script src="{{RES}}js/vendor/jquery-1.11.0.min.js"></script>
        <script src="{{RES}}js/vendor/jquery.gmap3.min.js"></script>
        <script src="{{RES}}js/plugins.js"></script>
        <script src="{{RES}}js/main.js"></script>

    </body>
</html>
